@import './base/reset';
@import './utilities/variables';
@import './utilities/placeholders';
@import './utilities/-mixins.scss';
@import './components/container';
@import './base/common';
@import './components/btn';
@import './components/text-size';
@import './base/hidden';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/advances';
@import './layouts/work';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/portfolio';
@import './layouts/footer';
@import './layouts/modal';
