.advances {
  &__container {
    // padding: 60px 0;
  }
  &__list {
    @extend %list;
    display: block;
    margin: 60px 0;

    @media screen and (min-width: 768px) {
      margin: 45px -15px;
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
      margin: 90px 0;
      gap: 30px;
    }
  }
  &__item {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }

  &__svg {
    @extend %position;
    justify-content: center;
    // min-width: 270px;
    min-height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &__title {
    @extend %upper-text;
    margin-top: 30px;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $second-text-color;
  }
}
